In [46]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [47]:
df_p1 = pd.read_csv("files/world-data-2023_part1.csv", index_col= 0)
df_p1.columns

Index(['Country', 'Density\n(P/Km2)', 'Abbreviation', 'Agricultural Land( %)',
       'Land Area(Km2)', 'Armed Forces size', 'Birth Rate', 'Calling Code',
       'Capital/Major City', 'Co2-Emissions', 'CPI', 'CPI Change (%)',
       'Currency-Code', 'Fertility Rate', 'Forested Area (%)',
       'Gasoline Price'],
      dtype='object')

In [48]:
df_p2 = pd.read_csv("files/world-data-2023_part2.csv", index_col= 0)
df_p2.columns

Index(['GDP', 'Gross primary education enrollment (%)',
       'Gross tertiary education enrollment (%)', 'Infant mortality',
       'Largest city', 'Life expectancy', 'Maternal mortality ratio',
       'Minimum wage', 'Official language', 'Out of pocket health expenditure',
       'Physicians per thousand', 'Population',
       'Population: Labor force participation (%)', 'Tax revenue (%)',
       'Total tax rate', 'Unemployment rate', 'Urban_population', 'country',
       'coordinates'],
      dtype='object')

In [49]:
df_final = df_p1.merge(df_p2, how = "inner", left_on = "Country", right_on= "country")
df_final

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Largest city,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,country,coordinates
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",Afghanistan,"('33.93911 ', '67.709953')"
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36,"$15,278,077,447",107.00%,55.00%,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",Albania,"('41.153332 ', '20.168331')"
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28,"$169,988,236,398",109.90%,51.40%,20.1,Algiers,76.7,112.0,$0.95,Arabic,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100",Algeria,"('28.033886 ', '1.659626')"
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00%,$1.51,"$3,154,057,987",106.40%,NaN,2.7,Andorra la Vella,NaN,NaN,$6.63,Catalan,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",Andorra,"('42.506285 ', '1.521801')"
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97,"$94,635,415,870",113.50%,9.30%,51.6,Luanda,60.8,241.0,$0.71,Portuguese,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025",Angola,"('-11.202692 ', '17.873887')"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela,32,VE,24.50%,"912,050","343,000",17.88,58.0,Caracas,"164,175","2,740.27",254.90%,VED,2.27,52.70%,$0.00,"$482,359,318,768",97.20%,79.30%,21.4,Caracas,72.1,125.0,$0.01,Spanish,45.80%,1.92,"28,515,829",59.70%,NaN,73.30%,8.80%,"25,162,368",Venezuela,"('6.42375 ', '-66.58973')"
191,Vietnam,314,VN,39.30%,"331,210","522,000",16.75,84.0,Hanoi,"192,668",163.52,2.80%,VND,2.05,48.10%,$0.80,"$261,921,244,843",110.60%,28.50%,16.5,Ho Chi Minh City,75.3,43.0,$0.73,Vietnamese,43.50%,0.82,"96,462,106",77.40%,19.10%,37.60%,2.01%,"35,332,140",Vietnam,"('14.058324 ', '108.277199')"
192,Yemen,56,YE,44.60%,"527,968","40,000",30.45,967.0,Sanaa,"10,609",157.58,8.10%,YER,3.79,1.00%,$0.92,"$26,914,402,224",93.60%,10.20%,42.9,Sanaa,66.1,164.0,NaN,Arabic,81.00%,0.31,"29,161,922",38.00%,NaN,26.60%,12.91%,"10,869,523",Yemen,"('15.552727 ', '48.516388')"
193,Zambia,25,ZM,32.10%,"752,618","16,000",36.19,260.0,Lusaka,"5,141",212.31,9.20%,ZMW,4.63,65.20%,$1.40,"$23,064,722,446",98.70%,4.10%,40.4,Lusaka,63.5,213.0,$0.24,English,27.50%,1.19,"17,861,030",74.60%,16.20%,15.60%,11.43%,"7,871,713",Zambia,"('-13.133897 ', '27.849332')"
194,Zimbabwe,38,ZW,41.90%,"390,757","51,000",30.68,263.0,Harare,"10,983",105.51,0.90%,NaN,3.62,35.50%,$1.34,"$21,440,758,800",109.90%,10.00%,33.9,Harare,61.2,458.0,NaN,Shona,25.80%,0.21,"14,645,468",83.10%,20.70%,31.60%,4.95%,"4,717,305",Zimbabwe,"('-19.015438 ', '29.154857')"

Después de la unión de datos, tenemos dos columnas de "country". Elimina una de ellas.

In [50]:
df_limpio = df_final.drop("country", axis = 1)

In [51]:
df_limpio

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Largest city,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,coordinates
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273","('33.93911 ', '67.709953')"
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36,"$15,278,077,447",107.00%,55.00%,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593","('41.153332 ', '20.168331')"
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28,"$169,988,236,398",109.90%,51.40%,20.1,Algiers,76.7,112.0,$0.95,Arabic,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100","('28.033886 ', '1.659626')"
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00%,$1.51,"$3,154,057,987",106.40%,NaN,2.7,Andorra la Vella,NaN,NaN,$6.63,Catalan,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873","('42.506285 ', '1.521801')"
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97,"$94,635,415,870",113.50%,9.30%,51.6,Luanda,60.8,241.0,$0.71,Portuguese,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025","('-11.202692 ', '17.873887')"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela,32,VE,24.50%,"912,050","343,000",17.88,58.0,Caracas,"164,175","2,740.27",254.90%,VED,2.27,52.70%,$0.00,"$482,359,318,768",97.20%,79.30%,21.4,Caracas,72.1,125.0,$0.01,Spanish,45.80%,1.92,"28,515,829",59.70%,NaN,73.30%,8.80%,"25,162,368","('6.42375 ', '-66.58973')"
191,Vietnam,314,VN,39.30%,"331,210","522,000",16.75,84.0,Hanoi,"192,668",163.52,2.80%,VND,2.05,48.10%,$0.80,"$261,921,244,843",110.60%,28.50%,16.5,Ho Chi Minh City,75.3,43.0,$0.73,Vietnamese,43.50%,0.82,"96,462,106",77.40%,19.10%,37.60%,2.01%,"35,332,140","('14.058324 ', '108.277199')"
192,Yemen,56,YE,44.60%,"527,968","40,000",30.45,967.0,Sanaa,"10,609",157.58,8.10%,YER,3.79,1.00%,$0.92,"$26,914,402,224",93.60%,10.20%,42.9,Sanaa,66.1,164.0,NaN,Arabic,81.00%,0.31,"29,161,922",38.00%,NaN,26.60%,12.91%,"10,869,523","('15.552727 ', '48.516388')"
193,Zambia,25,ZM,32.10%,"752,618","16,000",36.19,260.0,Lusaka,"5,141",212.31,9.20%,ZMW,4.63,65.20%,$1.40,"$23,064,722,446",98.70%,4.10%,40.4,Lusaka,63.5,213.0,$0.24,English,27.50%,1.19,"17,861,030",74.60%,16.20%,15.60%,11.43%,"7,871,713","('-13.133897 ', '27.849332')"
194,Zimbabwe,38,ZW,41.90%,"390,757","51,000",30.68,263.0,Harare,"10,983",105.51,0.90%,NaN,3.62,35.50%,$1.34,"$21,440,758,800",109.90%,10.00%,33.9,Harare,61.2,458.0,NaN,Shona,25.80%,0.21,"14,645,468",83.10%,20.70%,31.60%,4.95%,"4,717,305","('-19.015438 ', '29.154857')"


Los nombres de las columnas no son homogeneos. Cambia los nombres de las columnas de tal forma que:

No tengan espacios.

Estén en minúscula.

No tengan paréntesis, es decir, quitar "(%)", "(Km2)".

Algunas columnas tiene "\n". Eliminalos de los nombres de las columnas.

Algunas columnas tienen ":". Eliminalos de los nombres de las columnas.

In [52]:
df_espacios = df_limpio.columns.str.replace(" ", "")
df_limpio.columns = df_espacios

In [53]:
df_limpio

,Country,Density\n(P/Km2),Abbreviation,AgriculturalLand(%),LandArea(Km2),ArmedForcessize,BirthRate,CallingCode,Capital/MajorCity,Co2-Emissions,CPI,CPIChange(%),Currency-Code,FertilityRate,ForestedArea(%),GasolinePrice,GDP,Grossprimaryeducationenrollment(%),Grosstertiaryeducationenrollment(%),Infantmortality,Largestcity,Lifeexpectancy,Maternalmortalityratio,Minimumwage,Officiallanguage,Outofpockethealthexpenditure,Physiciansperthousand,Population,Population:Laborforceparticipation(%),Taxrevenue(%),Totaltaxrate,Unemploymentrate,Urban_population,coordinates
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273","('33.93911 ', '67.709953')"
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36,"$15,278,077,447",107.00%,55.00%,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593","('41.153332 ', '20.168331')"
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28,"$169,988,236,398",109.90%,51.40%,20.1,Algiers,76.7,112.0,$0.95,Arabic,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100","('28.033886 ', '1.659626')"
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00%,$1.51,"$3,154,057,987",106.40%,NaN,2.7,Andorra la Vella,NaN,NaN,$6.63,Catalan,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873","('42.506285 ', '1.521801')"
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97,"$94,635,415,870",113.50%,9.30%,51.6,Luanda,60.8,241.0,$0.71,Portuguese,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025","('-11.202692 ', '17.873887')"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela,32,VE,24.50%,"912,050","343,000",17.88,58.0,Caracas,"164,175","2,740.27",254.90%,VED,2.27,52.70%,$0.00,"$482,359,318,768",97.20%,79.30%,21.4,Caracas,72.1,125.0,$0.01,Spanish,45.80%,1.92,"28,515,829",59.70%,NaN,73.30%,8.80%,"25,162,368","('6.42375 ', '-66.58973')"
191,Vietnam,314,VN,39.30%,"331,210","522,000",16.75,84.0,Hanoi,"192,668",163.52,2.80%,VND,2.05,48.10%,$0.80,"$261,921,244,843",110.60%,28.50%,16.5,Ho Chi Minh City,75.3,43.0,$0.73,Vietnamese,43.50%,0.82,"96,462,106",77.40%,19.10%,37.60%,2.01%,"35,332,140","('14.058324 ', '108.277199')"
192,Yemen,56,YE,44.60%,"527,968","40,000",30.45,967.0,Sanaa,"10,609",157.58,8.10%,YER,3.79,1.00%,$0.92,"$26,914,402,224",93.60%,10.20%,42.9,Sanaa,66.1,164.0,NaN,Arabic,81.00%,0.31,"29,161,922",38.00%,NaN,26.60%,12.91%,"10,869,523","('15.552727 ', '48.516388')"
193,Zambia,25,ZM,32.10%,"752,618","16,000",36.19,260.0,Lusaka,"5,141",212.31,9.20%,ZMW,4.63,65.20%,$1.40,"$23,064,722,446",98.70%,4.10%,40.4,Lusaka,63.5,213.0,$0.24,English,27.50%,1.19,"17,861,030",74.60%,16.20%,15.60%,11.43%,"7,871,713","('-13.133897 ', '27.849332')"
194,Zimbabwe,38,ZW,41.90%,"390,757","51,000",30.68,263.0,Harare,"10,983",105.51,0.90%,NaN,3.62,35.50%,$1.34,"$21,440,758,800",109.90%,10.00%,33.9,Harare,61.2,458.0,NaN,Shona,25.80%,0.21,"14,645,468",83.10%,20.70%,31.60%,4.95%,"4,717,305","('-19.015438 ', '29.154857')"

In [54]:
columnas_sin_espacios = [col.replace(" ", "") for col in df_limpio.columns]
df_limpio.columns = columnas_sin_espacios

In [55]:
df_limpio["coordinates"]

0        ('33.93911 ', '67.709953')
1       ('41.153332 ', '20.168331')
2        ('28.033886 ', '1.659626')
3        ('42.506285 ', '1.521801')
4      ('-11.202692 ', '17.873887')
                   ...
190       ('6.42375 ', '-66.58973')
191    ('14.058324 ', '108.277199')
192     ('15.552727 ', '48.516388')
193    ('-13.133897 ', '27.849332')
194    ('-19.015438 ', '29.154857')
Name: coordinates, Length: 195, dtype: object

In [57]:
df_minusculas = df_espacios.str.lower()
df_limpio.columns = df_minusculas

In [58]:
df_parentesis = df_minusculas.str.replace("\([^)]*\)", "", regex=True)
df_limpio.columns = df_parentesis

In [59]:
df_salto = df_parentesis.str.replace("\n", "")
df_limpio.columns = df_salto

In [60]:
df_corregido = df_salto.str.replace(":", "")
df_limpio.columns = df_corregido

In [61]:
df_limpio

,country,density,abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,capital/majorcity,co2-emissions,cpi,cpichange,currency-code,fertilityrate,forestedarea,gasolineprice,gdp,grossprimaryeducationenrollment,grosstertiaryeducationenrollment,infantmortality,largestcity,lifeexpectancy,maternalmortalityratio,minimumwage,officiallanguage,outofpockethealthexpenditure,physiciansperthousand,population,populationlaborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urban_population,coordinates
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273","('33.93911 ', '67.709953')"
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36,"$15,278,077,447",107.00%,55.00%,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593","('41.153332 ', '20.168331')"
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28,"$169,988,236,398",109.90%,51.40%,20.1,Algiers,76.7,112.0,$0.95,Arabic,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100","('28.033886 ', '1.659626')"
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00%,$1.51,"$3,154,057,987",106.40%,NaN,2.7,Andorra la Vella,NaN,NaN,$6.63,Catalan,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873","('42.506285 ', '1.521801')"
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97,"$94,635,415,870",113.50%,9.30%,51.6,Luanda,60.8,241.0,$0.71,Portuguese,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025","('-11.202692 ', '17.873887')"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela,32,VE,24.50%,"912,050","343,000",17.88,58.0,Caracas,"164,175","2,740.27",254.90%,VED,2.27,52.70%,$0.00,"$482,359,318,768",97.20%,79.30%,21.4,Caracas,72.1,125.0,$0.01,Spanish,45.80%,1.92,"28,515,829",59.70%,NaN,73.30%,8.80%,"25,162,368","('6.42375 ', '-66.58973')"
191,Vietnam,314,VN,39.30%,"331,210","522,000",16.75,84.0,Hanoi,"192,668",163.52,2.80%,VND,2.05,48.10%,$0.80,"$261,921,244,843",110.60%,28.50%,16.5,Ho Chi Minh City,75.3,43.0,$0.73,Vietnamese,43.50%,0.82,"96,462,106",77.40%,19.10%,37.60%,2.01%,"35,332,140","('14.058324 ', '108.277199')"
192,Yemen,56,YE,44.60%,"527,968","40,000",30.45,967.0,Sanaa,"10,609",157.58,8.10%,YER,3.79,1.00%,$0.92,"$26,914,402,224",93.60%,10.20%,42.9,Sanaa,66.1,164.0,NaN,Arabic,81.00%,0.31,"29,161,922",38.00%,NaN,26.60%,12.91%,"10,869,523","('15.552727 ', '48.516388')"
193,Zambia,25,ZM,32.10%,"752,618","16,000",36.19,260.0,Lusaka,"5,141",212.31,9.20%,ZMW,4.63,65.20%,$1.40,"$23,064,722,446",98.70%,4.10%,40.4,Lusaka,63.5,213.0,$0.24,English,27.50%,1.19,"17,861,030",74.60%,16.20%,15.60%,11.43%,"7,871,713","('-13.133897 ', '27.849332')"
194,Zimbabwe,38,ZW,41.90%,"390,757","51,000",30.68,263.0,Harare,"10,983",105.51,0.90%,NaN,3.62,35.50%,$1.34,"$21,440,758,800",109.90%,10.00%,33.9,Harare,61.2,458.0,NaN,Shona,25.80%,0.21,"14,645,468",83.10%,20.70%,31.60%,4.95%,"4,717,305","('-19.015438 ', '29.154857')"

La columnas coordinates tiene la latitud y la longitud en una sola columna. Crea dos columnas nuevas, una con la longitud y otra con la latitud. Una vez hecho, elimina la columna de coordinates.

In [62]:
df_limpio[['latitude', 'longitude']] = df_limpio['coordinates'].str.split(',', expand=True)

In [63]:
df_limpio['coordinates'].str.split(',', expand=True)

                  0               1
0      ('33.93911 '    '67.709953')
1     ('41.153332 '    '20.168331')
2     ('28.033886 '     '1.659626')
3     ('42.506285 '     '1.521801')
4    ('-11.202692 '    '17.873887')
..              ...             ...
190     ('6.42375 '    '-66.58973')
191   ('14.058324 '   '108.277199')
192   ('15.552727 '    '48.516388')
193  ('-13.133897 '    '27.849332')
194  ('-19.015438 '    '29.154857')

[195 rows x 2 columns]

In [19]:
#df_coordinates= df_limpio.columns.str.replace(r'\(', '', regex=True)  .str.replace(r'\)', '', regex=True)
#df_limpio.columns = df_coordinates

In [64]:
df_limpio.drop("coordinates", axis=1)

,country,density,abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,capital/majorcity,co2-emissions,cpi,cpichange,currency-code,fertilityrate,forestedarea,gasolineprice,gdp,grossprimaryeducationenrollment,grosstertiaryeducationenrollment,infantmortality,largestcity,lifeexpectancy,maternalmortalityratio,minimumwage,officiallanguage,outofpockethealthexpenditure,physiciansperthousand,population,populationlaborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urban_population,latitude,longitude
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",('33.93911 ','67.709953')
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36,"$15,278,077,447",107.00%,55.00%,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",('41.153332 ','20.168331')
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28,"$169,988,236,398",109.90%,51.40%,20.1,Algiers,76.7,112.0,$0.95,Arabic,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100",('28.033886 ','1.659626')
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00%,$1.51,"$3,154,057,987",106.40%,NaN,2.7,Andorra la Vella,NaN,NaN,$6.63,Catalan,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",('42.506285 ','1.521801')
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97,"$94,635,415,870",113.50%,9.30%,51.6,Luanda,60.8,241.0,$0.71,Portuguese,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025",('-11.202692 ','17.873887')
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela,32,VE,24.50%,"912,050","343,000",17.88,58.0,Caracas,"164,175","2,740.27",254.90%,VED,2.27,52.70%,$0.00,"$482,359,318,768",97.20%,79.30%,21.4,Caracas,72.1,125.0,$0.01,Spanish,45.80%,1.92,"28,515,829",59.70%,NaN,73.30%,8.80%,"25,162,368",('6.42375 ','-66.58973')
191,Vietnam,314,VN,39.30%,"331,210","522,000",16.75,84.0,Hanoi,"192,668",163.52,2.80%,VND,2.05,48.10%,$0.80,"$261,921,244,843",110.60%,28.50%,16.5,Ho Chi Minh City,75.3,43.0,$0.73,Vietnamese,43.50%,0.82,"96,462,106",77.40%,19.10%,37.60%,2.01%,"35,332,140",('14.058324 ','108.277199')
192,Yemen,56,YE,44.60%,"527,968","40,000",30.45,967.0,Sanaa,"10,609",157.58,8.10%,YER,3.79,1.00%,$0.92,"$26,914,402,224",93.60%,10.20%,42.9,Sanaa,66.1,164.0,NaN,Arabic,81.00%,0.31,"29,161,922",38.00%,NaN,26.60%,12.91%,"10,869,523",('15.552727 ','48.516388')
193,Zambia,25,ZM,32.10%,"752,618","16,000",36.19,260.0,Lusaka,"5,141",212.31,9.20%,ZMW,4.63,65.20%,$1.40,"$23,064,722,446",98.70%,4.10%,40.4,Lusaka,63.5,213.0,$0.24,English,27.50%,1.19,"17,861,030",74.60%,16.20%,15.60%,11.43%,"7,871,713",('-13.133897 ','27.849332')
194,Zimbabwe,38,ZW,41.90%,"390,757","51,000",30.68,263.0,Harare,"10,983",105.51,0.90%,NaN,3.62,35.50%,$1.34,"$21,440,758,800",109.90%,10.00%,33.9,Harare,61.2,458.0,NaN,Shona,25.80%,0.21,"14,645,468",83.10%,20.70%,31.60%,4.95%,"4,717,305",('-19.015438 ','29.154857')

Las columnas unemployment_rate, total_tax_rate, tax_revenue, population_labor_force_participation, out_of_pocket_health_expenditure, gross_tertiary_education_enrollment, gross_primary_education_enrollment, forested_area, cpi_change, agricultural_land tienen "%". Elimina los "%" de los valores de las columnas.

In [65]:
columnas= [
    "unemploymentrate",
    "totaltaxrate",
    "taxrevenue",
    "populationlaborforceparticipation",
    "outofpockethealthexpenditure",
    "grosstertiaryeducationenrollment",
    "grossprimaryeducationenrollment",
    "forestedarea",
    "cpichange",
    "agriculturalland",
]

In [66]:
for columna in columnas:
    df_limpio[columna] = df_limpio[columna].str.replace("%", "")

In [67]:
df_limpio

,country,density,abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,capital/majorcity,co2-emissions,cpi,cpichange,currency-code,fertilityrate,forestedarea,gasolineprice,gdp,grossprimaryeducationenrollment,grosstertiaryeducationenrollment,infantmortality,largestcity,lifeexpectancy,maternalmortalityratio,minimumwage,officiallanguage,outofpockethealthexpenditure,physiciansperthousand,population,populationlaborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urban_population,coordinates,latitude,longitude
0,Afghanistan,60,AF,58.10,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30,AFN,4.47,2.10,$0.70,"$19,101,353,833",104.00,9.70,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40,0.28,"38,041,754",48.90,9.30,71.40,11.12,"9,797,273","('33.93911 ', '67.709953')",('33.93911 ','67.709953')
1,Albania,105,AL,43.10,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40,ALL,1.62,28.10,$1.36,"$15,278,077,447",107.00,55.00,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90,1.20,"2,854,191",55.70,18.60,36.60,12.33,"1,747,593","('41.153332 ', '20.168331')",('41.153332 ','20.168331')
2,Algeria,18,DZ,17.40,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00,DZD,3.02,0.80,$0.28,"$169,988,236,398",109.90,51.40,20.1,Algiers,76.7,112.0,$0.95,Arabic,28.10,1.72,"43,053,054",41.20,37.20,66.10,11.70,"31,510,100","('28.033886 ', '1.659626')",('28.033886 ','1.659626')
3,Andorra,164,AD,40.00,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00,$1.51,"$3,154,057,987",106.40,NaN,2.7,Andorra la Vella,NaN,NaN,$6.63,Catalan,36.40,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873","('42.506285 ', '1.521801')",('42.506285 ','1.521801')
4,Angola,26,AO,47.50,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10,AOA,5.52,46.30,$0.97,"$94,635,415,870",113.50,9.30,51.6,Luanda,60.8,241.0,$0.71,Portuguese,33.40,0.21,"31,825,295",77.50,9.20,49.10,6.89,"21,061,025","('-11.202692 ', '17.873887')",('-11.202692 ','17.873887')
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela,32,VE,24.50,"912,050","343,000",17.88,58.0,Caracas,"164,175","2,740.27",254.90,VED,2.27,52.70,$0.00,"$482,359,318,768",97.20,79.30,21.4,Caracas,72.1,125.0,$0.01,Spanish,45.80,1.92,"28,515,829",59.70,NaN,73.30,8.80,"25,162,368","('6.42375 ', '-66.58973')",('6.42375 ','-66.58973')
191,Vietnam,314,VN,39.30,"331,210","522,000",16.75,84.0,Hanoi,"192,668",163.52,2.80,VND,2.05,48.10,$0.80,"$261,921,244,843",110.60,28.50,16.5,Ho Chi Minh City,75.3,43.0,$0.73,Vietnamese,43.50,0.82,"96,462,106",77.40,19.10,37.60,2.01,"35,332,140","('14.058324 ', '108.277199')",('14.058324 ','108.277199')
192,Yemen,56,YE,44.60,"527,968","40,000",30.45,967.0,Sanaa,"10,609",157.58,8.10,YER,3.79,1.00,$0.92,"$26,914,402,224",93.60,10.20,42.9,Sanaa,66.1,164.0,NaN,Arabic,81.00,0.31,"29,161,922",38.00,NaN,26.60,12.91,"10,869,523","('15.552727 ', '48.516388')",('15.552727 ','48.516388')
193,Zambia,25,ZM,32.10,"752,618","16,000",36.19,260.0,Lusaka,"5,141",212.31,9.20,ZMW,4.63,65.20,$1.40,"$23,064,722,446",98.70,4.10,40.4,Lusaka,63.5,213.0,$0.24,English,27.50,1.19,"17,861,030",74.60,16.20,15.60,11.43,"7,871,713","('-13.133897 ', '27.849332')",('-13.133897 ','27.849332')
194,Zimbabwe,38,ZW,41.90,"390,757","51,000",30.68,263.0,Harare,"10,983",105.51,0.90,NaN,3.62,35.50,$1.34,"$21,440,758,800",109.90,10.00,33.9,Harare,61.2,458.0,NaN,Shona,25.80,0.21,"14,645,468",83.10,20.70,31.60,4.95,"4,717,305","('-19.015438 ', '29.154857')",('-19.015438 ','29.154857')

In [68]:
df_limpio.columns

Index(['country', 'density', 'abbreviation', 'agriculturalland', 'landarea',
       'armedforcessize', 'birthrate', 'callingcode', 'capital/majorcity',
       'co2-emissions', 'cpi', 'cpichange', 'currency-code', 'fertilityrate',
       'forestedarea', 'gasolineprice', 'gdp',
       'grossprimaryeducationenrollment', 'grosstertiaryeducationenrollment',
       'infantmortality', 'largestcity', 'lifeexpectancy',
       'maternalmortalityratio', 'minimumwage', 'officiallanguage',
       'outofpockethealthexpenditure', 'physiciansperthousand', 'population',
       'populationlaborforceparticipation', 'taxrevenue', 'totaltaxrate',
       'unemploymentrate', 'urban_population', 'coordinates', 'latitude',
       'longitude'],
      dtype='object')

In [69]:
columnas2 = ["gasolineprice", "gdp", "minimumwage"]

In [70]:
for columna in columnas2:
    df_limpio[columna] = df_limpio[columna].str.replace("$", "", regex=True)

In [71]:
df_limpio

,country,density,abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,capital/majorcity,co2-emissions,cpi,cpichange,currency-code,fertilityrate,forestedarea,gasolineprice,gdp,grossprimaryeducationenrollment,grosstertiaryeducationenrollment,infantmortality,largestcity,lifeexpectancy,maternalmortalityratio,minimumwage,officiallanguage,outofpockethealthexpenditure,physiciansperthousand,population,populationlaborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urban_population,coordinates,latitude,longitude
0,Afghanistan,60,AF,58.10,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30,AFN,4.47,2.10,0.70,"19,101,353,833",104.00,9.70,47.9,Kabul,64.5,638.0,0.43,Pashto,78.40,0.28,"38,041,754",48.90,9.30,71.40,11.12,"9,797,273","('33.93911 ', '67.709953')",('33.93911 ','67.709953')
1,Albania,105,AL,43.10,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40,ALL,1.62,28.10,1.36,"15,278,077,447",107.00,55.00,7.8,Tirana,78.5,15.0,1.12,Albanian,56.90,1.20,"2,854,191",55.70,18.60,36.60,12.33,"1,747,593","('41.153332 ', '20.168331')",('41.153332 ','20.168331')
2,Algeria,18,DZ,17.40,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00,DZD,3.02,0.80,0.28,"169,988,236,398",109.90,51.40,20.1,Algiers,76.7,112.0,0.95,Arabic,28.10,1.72,"43,053,054",41.20,37.20,66.10,11.70,"31,510,100","('28.033886 ', '1.659626')",('28.033886 ','1.659626')
3,Andorra,164,AD,40.00,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00,1.51,"3,154,057,987",106.40,NaN,2.7,Andorra la Vella,NaN,NaN,6.63,Catalan,36.40,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873","('42.506285 ', '1.521801')",('42.506285 ','1.521801')
4,Angola,26,AO,47.50,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10,AOA,5.52,46.30,0.97,"94,635,415,870",113.50,9.30,51.6,Luanda,60.8,241.0,0.71,Portuguese,33.40,0.21,"31,825,295",77.50,9.20,49.10,6.89,"21,061,025","('-11.202692 ', '17.873887')",('-11.202692 ','17.873887')
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela,32,VE,24.50,"912,050","343,000",17.88,58.0,Caracas,"164,175","2,740.27",254.90,VED,2.27,52.70,0.00,"482,359,318,768",97.20,79.30,21.4,Caracas,72.1,125.0,0.01,Spanish,45.80,1.92,"28,515,829",59.70,NaN,73.30,8.80,"25,162,368","('6.42375 ', '-66.58973')",('6.42375 ','-66.58973')
191,Vietnam,314,VN,39.30,"331,210","522,000",16.75,84.0,Hanoi,"192,668",163.52,2.80,VND,2.05,48.10,0.80,"261,921,244,843",110.60,28.50,16.5,Ho Chi Minh City,75.3,43.0,0.73,Vietnamese,43.50,0.82,"96,462,106",77.40,19.10,37.60,2.01,"35,332,140","('14.058324 ', '108.277199')",('14.058324 ','108.277199')
192,Yemen,56,YE,44.60,"527,968","40,000",30.45,967.0,Sanaa,"10,609",157.58,8.10,YER,3.79,1.00,0.92,"26,914,402,224",93.60,10.20,42.9,Sanaa,66.1,164.0,NaN,Arabic,81.00,0.31,"29,161,922",38.00,NaN,26.60,12.91,"10,869,523","('15.552727 ', '48.516388')",('15.552727 ','48.516388')
193,Zambia,25,ZM,32.10,"752,618","16,000",36.19,260.0,Lusaka,"5,141",212.31,9.20,ZMW,4.63,65.20,1.40,"23,064,722,446",98.70,4.10,40.4,Lusaka,63.5,213.0,0.24,English,27.50,1.19,"17,861,030",74.60,16.20,15.60,11.43,"7,871,713","('-13.133897 ', '27.849332')",('-13.133897 ','27.849332')
194,Zimbabwe,38,ZW,41.90,"390,757","51,000",30.68,263.0,Harare,"10,983",105.51,0.90,NaN,3.62,35.50,1.34,"21,440,758,800",109.90,10.00,33.9,Harare,61.2,458.0,NaN,Shona,25.80,0.21,"14,645,468",83.10,20.70,31.60,4.95,"4,717,305","('-19.015438 ', '29.154857')",('-19.015438 ','29.154857')

In [73]:
df_limpio.to_csv('files/df_limpio.csv', index=False)

Ejercicios de Filtrado


Encuentra todos los países cuya mortalidad infantil esté entre 40 y 50 personas por kilómetro cuadrado.

In [29]:
df_limpio.columns

Index(['country', 'density', 'abbreviation', 'agriculturalland', 'landarea',
       'armedforcessize', 'birthrate', 'callingcode', 'capital/majorcity',
       'co2-emissions', 'cpi', 'cpichange', 'currency-code', 'fertilityrate',
       'forestedarea', 'gasolineprice', 'gdp',
       'grossprimaryeducationenrollment', 'grosstertiaryeducationenrollment',
       'infantmortality', 'largestcity', 'lifeexpectancy',
       'maternalmortalityratio', 'minimumwage', 'officiallanguage',
       'outofpockethealthexpenditure', 'physiciansperthousand', 'population',
       'populationlaborforceparticipation', 'taxrevenue', 'totaltaxrate',
       'unemploymentrate', 'urban_population', 'coordinates', 'latitude',
       'longitude'],
      dtype='object')

In [30]:
infantil= df_limpio[(df_limpio['infantmortality'] >= 40) & (df_limpio['infantmortality'] <= 50)]

In [31]:
infantil

,country,density,abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,capital/majorcity,co2-emissions,...,physiciansperthousand,population,populationlaborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urban_population,coordinates,latitude,longitude
0,Afghanistan,60,AF,58.10,"652,230","323,000",32.49,93.0,Kabul,"8,672",...,0.28,"38,041,754",48.90,9.30,71.40,11.12,"9,797,273","('33.93911 ', '67.709953')",('33.93911 ','67.709953')
26,Burkina Faso,76,BF,44.20,"274,200","11,000",37.93,226.0,Ouagadougou,"3,418",...,0.08,"20,321,378",66.40,15.00,41.30,6.26,"6,092,349","('12.238333 ', '-1.561593')",('12.238333 ','-1.561593')
27,Burundi,463,BI,79.20,"27,830","31,000",39.01,257.0,Bujumbura,495,...,0.10,"11,530,580",79.20,13.60,41.20,1.43,"1,541,177","('-3.373056 ', '29.918886')",('-3.373056 ','29.918886')
47,Djibouti,43,DJ,73.40,"23,200","13,000",21.47,253.0,Djibouti City,620,...,0.22,"973,560",60.20,NaN,37.90,10.30,"758,549","('11.825138 ', '42.590275')",('11.825138 ','42.590275')
72,Haiti,414,HT,66.80,"27,750",0,24.35,509.0,Port-au-Prince,"2,978",...,0.23,"11,263,077",67.20,NaN,42.70,13.78,"6,328,948","('18.971187 ', '-72.285215')",('18.971187 ','-72.285215')
89,Kiribati,147,KI,42.00,811,NaN,27.89,686.0,South Tarawa,66,...,0.20,"117,606",NaN,22.00,32.70,NaN,"64,489","('1.8368976 ', '-157.3768317')",('1.8368976 ','-157.3768317')
125,Niger,19,NE,36.10,"1,267,000","10,000",46.08,227.0,Niamey,"2,017",...,0.04,"23,310,715",72.00,11.80,47.20,0.47,"3,850,231","('17.607789 ', '8.081666')",('17.607789 ','8.081666')
166,Sudan,25,SD,28.70,"1,861,484","124,000",32.18,249.0,Khartoum,"20,000",...,0.26,"42,813,238",48.40,8.00,45.40,16.53,"14,957,233","('12.862807 ', '30.217636')",('12.862807 ','30.217636')
175,Togo,152,TG,70.20,"56,785","10,000",33.11,228.0,Lom�,"3,000",...,0.08,"8,082,366",77.60,16.90,48.20,2.04,"3,414,638","('8.619543 ', '0.824782')",('8.619543 ','0.824782')
192,Yemen,56,YE,44.60,"527,968","40,000",30.45,967.0,Sanaa,"10,609",...,0.31,"29,161,922",38.00,NaN,26.60,12.91,"10,869,523","('15.552727 ', '48.516388')",('15.552727 ','48.516388')
193,Zambia,25,ZM,32.10,"752,618","16,000",36.19,260.0,Lusaka,"5,141",...,1.19,"17,861,030",74.60,16.20,15.60,11.43,"7,871,713","('-13.133897 ', '27.849332')",('-13.133897 ','27.849332')


Encuentra los países cuyas tasas de natalidad son mayores o iguales a 20 y su esperanza de vida es mayor de 75 años.

In [32]:
natalidad= df_limpio[(df_limpio['birthrate']>= 20) & (df_limpio['lifeexpectancy'] > 75)]

In [33]:
natalidad

,country,density,abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,capital/majorcity,co2-emissions,...,physiciansperthousand,population,populationlaborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urban_population,coordinates,latitude,longitude
2,Algeria,18,DZ,17.40,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",...,1.72,"43,053,054",41.20,37.20,66.10,11.70,"31,510,100","('28.033886 ', '1.659626')",('28.033886 ','1.659626')
74,Honduras,89,HN,28.90,"112,090","23,000",21.60,504.0,Tegucigalpa,"9,813",...,0.31,"9,746,117",68.80,17.30,39.10,5.39,"5,626,433","('15.199999 ', '-86.241905')",('15.199999 ','-86.241905')
82,Israel,400,IL,24.60,"20,770","178,000",20.80,972.0,Jerusalem,"65,166",...,4.62,"9,053,300",64.00,23.10,25.30,3.86,"8,374,393","('31.046051 ', '34.851612')",('31.046051 ','34.851612')


Encuentra las ciudades cuyos paises contienen la palabra "la" en su nombre.

In [34]:
ciudades_la = df_limpio[df_limpio['country'].str.contains('la')]

In [35]:
ciudades_la

,country,density,abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,capital/majorcity,co2-emissions,...,physiciansperthousand,population,populationlaborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urban_population,coordinates,latitude,longitude
4,Angola,26,AO,47.50,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",...,0.21,"31,825,295",77.50,9.20,49.10,6.89,"21,061,025","('-11.202692 ', '17.873887')",('-11.202692 ','17.873887')
13,Bangladesh,"1,265",BD,70.60,"148,460","221,000",18.18,880.0,Dhaka,"84,246",...,0.58,"167,310,838",59.00,8.80,33.40,4.19,"60,987,417","('23.684994 ', '90.356331')",('23.684994 ','90.356331')
15,Belarus,47,BY,42.00,"207,600","155,000",9.90,375.0,Minsk,"58,280",...,5.19,"9,466,856",64.10,14.70,53.30,4.59,"7,482,982","('53.709807 ', '27.953389')",('53.709807 ','27.953389')
59,Finland,18,FI,7.50,"338,145","25,000",8.60,358.0,Helsinki,"45,871",...,3.81,"5,520,314",59.10,20.80,36.60,6.59,"4,716,888","('61.92411 ', '25.748151')",('61.92411 ','25.748151')
68,Guatemala,167,GT,36.00,"108,889","43,000",24.56,502.0,Guatemala City,"16,777",...,0.35,"16,604,026",62.30,10.60,35.20,2.46,"8,540,945","('15.783471 ', '-90.230759')",('15.783471 ','-90.230759')
76,Iceland,3,IS,18.70,"103,000",0,12.00,354.0,Reykjav��,"2,065",...,4.08,"361,313",75.00,23.30,31.90,2.84,"339,110","('64.963051 ', '-19.020835')",('64.963051 ','-19.020835')
81,Republic of Ireland,72,NaN,64.50,"70,273","9,000",12.50,353.0,Dublin,"37,711",...,3.31,"5,007,069",62.10,18.30,26.10,4.93,"3,133,123","('53.41291 ', '-8.24389')",('53.41291 ','-8.24389')
102,Malawi,203,MW,61.40,"118,484","15,000",34.12,265.0,Lilongwe,"1,298",...,0.04,"18,628,747",76.70,17.30,34.50,5.65,"3,199,301","('-13.254308 ', '34.301525')",('-13.254308 ','34.301525')
103,Malaysia,99,MY,26.30,"329,847","136,000",16.75,60.0,Kuala Lumpur,"248,289",...,1.51,"32,447,385",64.30,12.00,38.70,3.32,"24,475,766","('4.210484 ', '101.975766')",('4.210484 ','101.975766')
107,Marshall Islands,329,MH,63.90,181,NaN,29.03,692.0,Majuro,143,...,0.42,"58,791",NaN,17.80,65.90,NaN,"45,514","('7.131474 ', '171.184478')",('7.131474 ','171.184478')
122,Netherlands,508,NL,53.30,"41,543","41,000",9.70,31.0,Amsterdam,"170,780",...,3.61,"17,332,850",63.60,23.00,41.20,3.20,"15,924,729","('52.132633 ', '5.291266')",('52.132633 ','5.291266')
123,New Zealand,18,NZ,40.50,"268,838","9,000",11.98,64.0,Wellington,"34,382",...,3.59,"4,841,000",69.90,29.00,34.60,4.07,"4,258,860","('-40.900557 ', '174.885971')",('-40.900557 ','174.885971')
132,Palau,39,PW,10.90,459,NaN,14.00,680.0,Ngerulmud,224,...,1.18,"18,233",NaN,21.30,76.60,NaN,"14,491","('7.51498 ', '134.58252')",('7.51498 ','134.58252')
139,Poland,124,PL,46.90,"312,685","191,000",10.20,48.0,Warsaw,"299,037",...,2.38,"37,970,874",56.70,17.40,40.80,3.47,"22,796,574","('51.919438 ', '19.145136')",('51.919438 ','19.145136')
159,Solomon Islands,25,SB,3.90,"28,896",NaN,32.44,677.0,Honiara,169,...,0.19,"669,823",83.80,29.50,32.00,0.58,"162,164","('-9.64571 ', '160.156194')",('-9.64571 ','160.156194')
169,Switzerland,219,CH,38.40,"41,277","21,000",10.00,41.0,Bern,"34,477",...,4.30,"8,574,832",68.30,10.10,28.80,4.58,"6,332,428","('46.818188 ', '8.227512')",('46.818188 ','8.227512')
173,Thailand,137,TH,43.30,"513,120","455,000",10.34,66.0,Bangkok,"283,763",...,0.81,"69,625,582",67.30,14.90,29.50,0.75,"35,294,600","('15.870032 ', '100.992541')",('15.870032 ','100.992541')
190,Venezuela,32,VE,24.50,"912,050","343,000",17.88,58.0,Caracas,"164,175",...,1.92,"28,515,829",59.70,NaN,73.30,8.80,"25,162,368","('6.42375 ', '-66.58973')",('6.42375 ','-66.58973')

Encuentra los países cuyos medicos por cada 1000 habitantes (physicians_per_thousand) sea mayores de 5.

In [36]:
medicos = df_limpio[df_limpio['physiciansperthousand'] > 5]

In [37]:
medicos

,country,density,abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,capital/majorcity,co2-emissions,...,physiciansperthousand,population,populationlaborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urban_population,coordinates,latitude,longitude
9,Austria,109,AT,32.40,"83,871","21,000",9.70,43.0,Vienna,"61,448",...,5.17,"8,877,067",60.70,25.40,51.40,4.67,"5,194,416","('47.516231 ', '14.550072')",('47.516231 ','14.550072')
15,Belarus,47,BY,42.00,"207,600","155,000",9.90,375.0,Minsk,"58,280",...,5.19,"9,466,856",64.10,14.70,53.30,4.59,"7,482,982","('53.709807 ', '27.953389')",('53.709807 ','27.953389')
42,Cuba,106,CU,59.90,"110,860","76,000",10.17,53.0,Havana,"28,284",...,8.42,"11,333,483",53.60,NaN,NaN,1.64,"8,739,135","('21.521757 ', '-77.781167')",('21.521757 ','-77.781167')
63,Georgia,57,GE,34.50,"69,700","26,000",13.47,995.0,Tbilisi,"10,128",...,7.12,"3,720,382",68.30,21.70,9.90,14.40,"2,196,476","('42.315407 ', '43.356892')",('42.315407 ','43.356892')
66,Greece,81,GR,47.60,"131,957","146,000",8.10,30.0,Athens,"62,434",...,5.48,"10,716,322",51.80,26.20,51.90,17.24,"8,507,474","('39.074208 ', '21.824312')",('39.074208 ','21.824312')
99,Lithuania,43,LT,47.20,"65,300","34,000",10.00,370.0,Vilnius,"12,963",...,6.35,"2,786,844",61.60,16.90,42.60,6.35,"1,891,013","('55.169438 ', '23.881275')",('55.169438 ','23.881275')
113,Monaco,"26,337",MC,NaN,2,NaN,5.90,377.0,Monaco City,NaN,...,6.56,"38,964",NaN,NaN,NaN,NaN,"38,964","('43.7384176 ', '7.4246158')",('43.7384176 ','7.4246158')
140,Portugal,111,PT,39.50,"92,212","52,000",8.50,351.0,Lisbon,"48,742",...,5.12,"10,269,417",58.80,22.80,39.80,6.33,"6,753,579","('39.399872 ', '-8.224454')",('39.399872 ','-8.224454')
149,San Marino,566,SM,16.70,61,NaN,6.80,378.0,City of San Marino,NaN,...,6.11,"33,860",NaN,18.10,36.20,NaN,"32,969","('43.94236 ', '12.457777')",('43.94236 ','12.457777')
187,Uruguay,20,UY,82.60,"176,215","22,000",13.86,598.0,Montevideo,"6,766",...,5.05,"3,461,734",64.00,20.10,41.80,8.73,"3,303,394","('-32.522779 ', '-55.765835')",('-32.522779 ','-55.765835')

Encuentra los países cuyatasa de fertilidad sea mayor a 6.

In [38]:
fertilidad= df_limpio[df_limpio['fertilityrate'] > 6]

In [39]:
fertilidad

,country,density,abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,capital/majorcity,co2-emissions,...,physiciansperthousand,population,populationlaborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urban_population,coordinates,latitude,longitude
125,Niger,19,NE,36.10,"1,267,000","10,000",46.08,227.0,Niamey,"2,017",...,0.04,"23,310,715",72.00,11.80,47.20,0.47,"3,850,231","('17.607789 ', '8.081666')",('17.607789 ','8.081666')
160,Somalia,25,SO,70.30,"637,657","20,000",41.75,252.0,Mogadishu,645,...,0.02,"15,442,905",47.40,0.00,NaN,11.35,"7,034,861","('5.152149 ', '46.199616')",('5.152149 ','46.199616')

Encuentra los países cuya moneda es el euro (EUR) y tienen una tasa de natalidad superior al promedio.


Encuentra los países cuyas tasas de mortalidad infantil son superiores a 70.

In [40]:
mortalidad_infantil = df_limpio[df_limpio['infantmortality'] > 70]

In [41]:
mortalidad_infantil

,country,density,abbreviation,agriculturalland,landarea,armedforcessize,birthrate,callingcode,capital/majorcity,co2-emissions,...,physiciansperthousand,population,populationlaborforceparticipation,taxrevenue,totaltaxrate,unemploymentrate,urban_population,coordinates,latitude,longitude
33,Central African Republic,8,CF,8.20,"622,984","8,000",35.35,236.0,Bangui,297,...,0.06,"4,745,185",72.00,8.60,73.30,3.68,"1,982,064","('6.611111 ', '20.939444')",('6.611111 ','20.939444')
34,Chad,13,TD,39.70,"1,284,000","35,000",42.17,235.0,N'Djamena,"1,016",...,0.04,"15,946,876",70.70,NaN,63.50,1.89,"3,712,273","('15.454166 ', '18.732207')",('15.454166 ','18.732207')
126,Nigeria,226,NG,77.70,"923,768","215,000",37.91,234.0,Abuja,"120,369",...,0.38,"200,963,599",52.90,1.50,34.80,8.10,"102,806,948","('9.081999 ', '8.675277')",('9.081999 ','8.675277')
155,Sierra Leone,111,SL,54.70,"71,740","9,000",33.41,232.0,Freetown,"1,093",...,0.03,"7,813,215",57.90,8.60,30.70,4.43,"3,319,366","('8.460555 ', '-11.779889')",('8.460555 ','-11.779889')
160,Somalia,25,SO,70.30,"637,657","20,000",41.75,252.0,Mogadishu,645,...,0.02,"15,442,905",47.40,0.00,NaN,11.35,"7,034,861","('5.152149 ', '46.199616')",('5.152149 ','46.199616')